/* CUSTOM-PROPS */
/* @media (prefers-color-scheme: light) { */
  :root {
    --body-bg: #d5e1ef;
    --card-bg: #fff;
    --dark-color: #1f314f;
    --text-color: #7d889e;
    --qr-bg: #2c7dfa;
    --qr-round: #3685ff;
  }
/* } */


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px 28px;
  margin: 0;
  font-family: "Outfit", "Arial", sans-serif;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.188px;
  background-color: var(--body-bg);
  color: var(--text-color);
}

.page__body--dark {
  --body-bg: #19273F;
  --card-bg: #1f314f;
  --dark-color: #fff;
  --text-color: #fff;
  --qr-bg: var(--body-bg);
  --qr-round: var(--body-bg);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* THEME-TOGGLER-BUTTON */
.theme-toggle-button {
  position: absolute;
  z-index: 1;
  right: 12px;
  top: 12px;
  padding: 4px 12px;
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  font-size: 14px;
  line-height: normal;
  background-color: transparent;
  color: var(--dark-color);
  cursor: pointer;
}

.theme-toggle-button:hover {
  background-color: var(--dark-color);
  color: var(--card-bg);
}

.theme-toggle-button:active {
  opacity: 0.6;
}


/* QR-CODE-CARD */
.qr-code-card {
  flex-shrink: 0;
  width: 100%;
  max-width: 320px;
  padding: 16px 16px 40px;
  margin: auto;
  border-radius: 20px;
  background-color: var(--card-bg);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.qr-code-card__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  color: var(--qr-bg);
}

.qr-code-card__img-circle {
  color: var(--qr-round);
}

.qr-code-card__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: normal;
  color: var(--dark-color);
}

.qr-code-card__text {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #19273F;
    --card-bg: #1f314f;
    --dark-color: #fff;
    --text-color: #fff;
    --qr-bg: var(--body-bg);
    --qr-round: var(--body-bg);
  }
} */


@media only screen and (max-width: 350px) {
  :root {
    --qr-bg: #3685ff;
    --qr-round: #2c7dfa;
  }

  body {
    padding: 16px;
  }

  .theme-toggle-button {
    position: static;
    align-self: flex-end;
  }

  .qr-code-card__heading {
    font-size: 20px;
  }

  .qr-code-card__text {
    padding: 0;
  }
}
